.App {
  text-align: center;
  max-width: 80%;
  min-width: 720px;
  margin: 10px auto;
  padding: 20px;
  border:4px double #282c34;
  background-color: #ffffff;
}

/* body{
  font-size: 80%;
  letter-spacing: 0.15em;
  background-color: #efefef;
} */

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0 5px 5px;
  padding-left: 10px;
}

.App-link {
  color: #61dafb;
}

.photoGrid {
  display: grid;
  overflow: auto;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
  padding: 23px 10px 30px 15px;
  grid-gap: 30px;
}

.figureImg {
  text-align: center;
  margin: 20px auto;
  width: 100%;
  float: left;
  height: 100%;
  background-color: orange;
  object-fit: cover;
}

.noFigureImg{
  position: fixed;
  left: -200px;
  transition: 0.3 all ease;
  z-index: 1000;
  background: #cfd8dc;
}

.singleFigureWrapper {
  margin: 10px auto;
  background-color: orange;
  object-fit: cover;
  text-align: center;
  position: relative;
}
.singleFigureImg > figcaption {
  margin: 0;
  position: absolute;
  background: chartreuse;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: -50%;
}

.singleFigureImg > figure > figcaption {
  margin: 10px 50px;
  padding: 20px;
  border: dotted blue 1px;
}
